body {
    margin:0px;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgb(255, 255, 255);
    border-bottom: 3px solid #d50032; 
     
}
 nav li:not(:last-child)::after {

        content: "";
    
        position: absolute;
    
        right: -1rem;
    
        top: 50%;
    
        transform: translateY(-50%);
    
        width: 1px;
    
        height: 2.2em;
    
        background-color: #111;
    
    }
 
header img {
    height:100px;
}

@media screen and (min-width: 410px) {
    body {
      background-color: rgb(250, 232, 239);
    }
  

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #ff0000;
    font-weight: bold;
    border: bottom 1px #000000;
}

.header_a {
    text-decoration: none;
    font-weight: 600;
    font-size: 36px;
    color: red;
    padding: 10px 20px; 
    border-left: 1px solid grey; 
  }
  
  .header_a:first-child {
    border-left: none; 
  }
  

.article {
    flex: 1; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    gap: 30px;
    padding: 30px;
    background-color: #f7ecf6;
  }
  
  .item {
    padding: 10px; 
  }

h2 {
    font-size: 32px;
    color: #c50733;
    margin-bottom: 10px;

}

.gallery img {
    width: 200px;
    height: 260px;
    margin: 5px;
    object-fit: cover;
    border-radius: 5px;
}


footer {
    text-align: center;
    padding: 20px;
    background: #000000;
    color: white;
    font-weight: bold;
}
p {
    line-height: 1.6;
    font-size: 18px;
}
}



